<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="PI" value="3.14159265359" />
    <xacro:unless value="$(arg sim_mode)">
        <ros2_control name="articubot" type="system">
            <hardware>
                <plugin>diffdrive_arduino/DiffDriveArduinoHardware</plugin>
                <param name="left_wheel_name">left_wheel_joint</param>
                <param name="right_wheel_name">right_wheel_joint</param>
                <param name="loop_rate">30</param>
                <param name="device">/dev/ttyUSB0</param>
                <param name="baud_rate">57600</param>
                <param name="timeout_ms">1000</param>
                <param name="enc_counts_per_rev">20050</param>
                <param name="pid_p">1.0</param>
                <param name="pid_i">0.1</param>
                <param name="pid_d">0.01</param>
            </hardware>
            <joint name="left_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            
            <joint name="arm_base_forearm_joint">
                <command_interface name="position">
                <param name="min">-${PI}</param>
                <param name="max">${PI}</param>
                </command_interface>
                <state_interface name="position"/>

            </joint>

            <joint name="forearm_hand_1_joint">
                <command_interface name="position">
                <param name="min">-${PI}</param>
                <param name="max">${PI}</param>
                </command_interface>
                <state_interface name="position"/>

            </joint>

            <joint name="forearm_hand_2_joint">
                <command_interface name="position">
                <param name="min">-${PI}</param>
                <param name="max">${PI}</param>
                </command_interface>
                <state_interface name="position"/>

            </joint>

            <joint name="forearm_hand_3_joint">
                <command_interface name="position">
                <param name="min">-${PI}</param>
                <param name="max">${PI}</param>
                </command_interface>
                <state_interface name="position"/>

            </joint>

             <joint name="forearm_claw_joint">
                <command_interface name="position">
                <param name="min">-${PI}</param>
                <param name="max">${PI}</param>
                </command_interface>
                <state_interface name="position"/>

            </joint>           

            <joint name="joint_4">
                <command_interface name="position">
                <param name="min">-${PI / 2}</param>
                <param name="max">${PI / 2}</param>
                </command_interface>
                <state_interface name="position"/>

            </joint> 

            <!-- <joint name="joint_5">
                <param name="mimic">joint_4</param>
                <param name="multiplier">-1</param>
                <command_interface name="position">
                <param name="min">0.0</param>
                <param name="max">${PI / 2}</param>
                </command_interface>
            </joint> -->

        </ros2_control>
    </xacro:unless>

    <xacro:if value="$(arg sim_mode)">
        <ros2_control name="GazeboSystem" type="system">
            <hardware>
                <plugin>gazebo_ros2_control/GazeboSystem</plugin>
            </hardware>
            <joint name="left_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
                <state_interface name="velocity"/>
                <state_interface name="position"/>
            </joint>
            <joint name="right_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
                <state_interface name="velocity"/>
                <state_interface name="position"/>
            </joint>

            
            <joint name="arm_base_forearm_joint">
                <command_interface name="position">
                <param name="min">-${PI / 2}</param>
                <param name="max">${PI / 2}</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="forearm_hand_1_joint">
                <command_interface name="position">
                <param name="min">-${PI / 2}</param>
                <param name="max">${PI / 2}</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="forearm_hand_2_joint">
                <command_interface name="position">
                <param name="min">-${PI / 2}</param>
                <param name="max">${PI / 2}</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="forearm_hand_3_joint">
                <command_interface name="position">
                <param name="min">-${PI / 2}</param>
                <param name="max">${PI / 2}</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

             <joint name="forearm_claw_joint">
                <command_interface name="position">
                <param name="min">-${PI / 2}</param>
                <param name="max">${PI / 2}</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>           

            <joint name="joint_4">
                <command_interface name="position">
                <param name="min">-${PI / 2}</param>
                <param name="max">0.0</param>
                </command_interface>
                <state_interface name="position"/>
                <!-- <state_interface name="velocity"/>
                <state_interface name="effort"/> -->
            </joint> 
            
            <!-- <joint name="joint_5">
                <param name="mimic">joint_4</param>
                <param name="multiplier">-1</param>
                <command_interface name="position">
                
                <param name="min">0.0</param>
                <param name="max">${PI / 2}</param>
                </command_interface>
                <state_interface name="position"/>
            </joint> -->

        </ros2_control>
    </xacro:if>

    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <parameters>$(find articubot_one)/config/my_controllers.yaml</parameters>
            <parameters>$(find articubot_one)/config/gaz_ros2_ctl_use_sim.yaml</parameters>
        </plugin>
    </gazebo>

</robot>
